{% comment %} {% extends 'home.html' %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Proveedores - Ecommerce</title>
        <link rel="icon" type="image/x-icon" href="{% static '/assets/favicon.ico' %}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="{% static '/css/styles.css' %}" rel="stylesheet" />
    </head>

    <body>
        <!-- Navigation-->
        {% include 'navbar.html' %}
        <!-- Header-->
        {% include 'header.html' %}

        <!-- Section-->

        {% block dinamicContent %}

            {% if user.is_superuser %}
                <a class="btn btn-primary" href="{% url 'createSupplier' %}">Agregar Proveedor</a>
            {% endif %}

            <a class="btn btn-secondary" href="{% url 'searchSupplier' %}">Busqueda 🔎</a>

            {% if supplier %}
                <h3>{{supplier.last_name}}, {{supplier.name}} eliminado!</h3>
            {% endif %}

            <section class="py-5">
                <div class="container px-4 px-lg-5 mt-5">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 d-flex justify-content-around justify-content-center">
                        {% for supp in suppliers %}
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <div class="card-head p-3 text-center bg-dark text-light">Proveedor</div>
                                    <div class="card-body p-4 text-center">
                                        <!-- Name -->
                                        <h3 class="fw-bolder">{{supp.last_name}}, {{supp.name}}</h3>
                                        <!-- Contact mail address -->
                                        <h4>{{supp.email}}</h4>
                                    </div>
                                    <!-- Details -->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto mb-1" href="{% url 'detailedSupplier' supp.id %}">Otros datos</a></div>
                                        {% if user.is_superuser %}
                                            <!-- Button trigger modal -->
                                            <div class="text-center"><button type="button" class="btn btn-del btn-danger mt-auto mb-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar</button></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title fs-5" id="exampleModalLabel">Confirmar</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body"><h4>Se va a eliminar el proveedor!</h4></div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <form action="{% url 'deleteSupplier' supp.id %}" method="post" class="text-center">{% csrf_token %}
                                                <button class="btn btn-del btn-danger mt-auto mb-1" id={{supp.id}} type="submit">Eliminar!</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

        {% endblock dinamicContent %}

        <!-- Footer-->
        {% include 'footer.html' %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>